<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B731B2D203E18AE00DADA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B731B41203E18AE00DADA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B731B4C203E18AE00DADA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
